{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Voucher ID</th>
            <th scope="col">Registration Date</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for persVoucher in vouchersList %}
            <tr>
                <th scope="row">{{ persVoucher.id }}</th>
                <td>{{ persVoucher.voucher }}</td>
                <td>{{ persVoucher.registerDate|date('Y-m-d') }}</td>
                <td><a href="" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
